a{
    position:fixed;
    top:200px;
    right:200px
}
body{
    background-color: rgb(70, 162, 236);
}
table{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(17, 72, 155);
}
th {
    border: 1px solid #02123c;
    padding: 12px;
    background-color: #1d23d1c7;
    color: rgb(131, 202, 247);
}
td {
    border: 2px solid #111111;
}
h2 { 
    font-size: 80px;
    color: #333333;
    text-align: center;
}